<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/v1/users/register">
        <label for="fullname">Name</label>
        <input type="text" name="fullname" placeholder="Enter Your Name"></input>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Your Email"></input>
        <label for="phone">Phone</label>
        <input type="number" name="phone" placeholder="Enter Your Phone"></input>
        <label for="password">Password</label>
        <input type="password" name="fullname" placeholder="Enter Your Password(Min 6 Characters)"></input>
        <label for="role">role</label>
        <input type="text" name="role" placeholder="Enter Your Role"></input>
        <button type="submit">Register</button>
    </form>
  </body>
</html>
