<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/todos" method="post">
        <label for="name">Title</label>
        <input type="text" name="name" placeholder="Enter the title"></input>
        <label for="type">Type</label>
        <input type="text" name="type" placeholder="Enter the Type"></input>
        <label for="status">Status</label>
        <input type="text" name="status" placeholder="Enter the title" default="pending"></input>
        <button type="submit"></button>
    </form>
</body>
</html>